.drawer-right {
	background-color: chartreuse;
	color: black;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 40px;
	padding: 40px;
	flex-direction: column;
	text-align: center;

	width: 400px;
	height: 100vh;
}

@media screen and (max-width: 768px) {
	.drawer-right {
		width: 75vw;
		height: 100vh;
	}
}
