.regular-modal {
	background-color: chartreuse;
	color: black;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 40px;
	padding: 40px;
	flex-direction: column;
	border-radius: 1rem;
	width: 400px;
	height: fit-content;
	text-align: center;
}

@media screen and (max-width: 768px) {
	.regular-modal {
		width: 90vw;
	}
}
