.regular-modal {
	background-color: chartreuse;
	color: black;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 40px;
	padding: 40px;
	flex-direction: column;
	border-radius: 1rem;
	max-width: 25vw;
}
