.toast-top-right {
  background-color: chartreuse;
  color: black;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  flex-direction: row;
  border-radius: 1rem;
  width: 30vw;
}

.toast-top-right p {
  font-size: 20px;
  font-weight: 500;
}
